{% assign line_price = product.quantity | times: product.variant.price %}

<div  class="line-item relative flex col col-12 border-bottom border-left border-right"
      data-product="{{ product.id }}"
      data-variant="{{ product.variant.id }}">

  <div class="line-item-image-wrapper height-100 col col-3">
    <img  class="line-item-image height-100"
          src="{{ product.image.src | img_url: '300x300', crop: 'center' }}"
          alt="{{ product.image.alt }}" />
  </div>

  <div class="line-item-info-wrapper height-100 col col-9 relative">
    <div class="product-title">
      <span class="bebas subtitle">{{ product.title }}</span>
    </div>
    <div class="product-description sm-hide xs-hide">
      <span class="bebas mono copy">{{ product.product.description }}</span>
    </div>

    <div class="line-item-ui col col-12 clearfix">
      <div class="line-item-quantity-wrapper col col-8 lg-col-4 absolute">
        {% include 'product-quantity-ui', quantity: product.quantity, update: true %}
      </div>
      <div class="line-item-price-wrapper col absolute right">
        {% include 'product-price', current_variant: product.variant, classes: 'subtitle', price: line_price %}
      </div>
    </div>
  </div>
</div>
