<nav class="nav">
  <div class="col-12 flex std-max-width mx-auto">
    <div class="mobile-nav-toggle col-2 flex justify-center items-center py2">
      {% include 'icon-leaf' %}
    </div>
    <div class="col-8 lg-col-2 flex justify-center items-center py2 pr3">
      <a class="inline-block" href="/">
        {% include 'logo-cloud' %}
      </a>
    </div>
    <div class="link-list col-8 border-left">
      <div class="border-right-dashed col-12 lg-flex items-center height-100 justify-between py2 px3">
        {% for link in linklists.main-menu.links %}
          <a href="{{ link.url }}">
            <h3 class="large-2 bebas black">{{ link.title }}</h3>
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="col-2 flex items-center justify-center py2">
      <a  href="/cart"
          title="Go to Cart"
          class="no-style">
        <div>
          <div class="item-count bebas center">{{cart.item_count}}</div>
          <div class="item-text center helvetica">items</div>
        </div>
      </a>
    </div>
  </div>

  <div class="mobile-menu">
    <div class="mobile-link-list height-100 flex flex-column justify-around center">
      {% for link in linklists.main-menu.links %}
        <a class="block" href="{{ link.url }}">
          <h3 class="large-3 bebas red m0">{{ link.title }}</h3>
        </a>
      {% endfor %}
    </div>
  </div>
</nav>
