{% unless quantity %}
  {% assign quantity = 1 %}
{% endunless %}

{% unless update %}
  {% assign quantity_id   = 'quantity-' | append: product.id %}
  {% assign quantity_name = 'updates[]' %}
{% else %}
  {% assign quantity_id = 'updates_' | append: product.key %}
  {% assign quantity_name = 'quantity' %}
  {% assign quantity_line = forloop.index %}
{% endunless %}

<div class="product-quantity-ui quantity clearfix height-100">
  <div class="shopify-quantity hide">
    <label for="quantity">{{ 'products.product.quantity' | t }}</label>
    <input  id="{{ quantity_id }}"
            class="quantity"
            data-product="{{ product.id }}"
            data-quantity="{{ product.id }}"
            type="number" 
            name="{{ quantity_name }}"
            value="{{ quantity }}"
            data-line="{{ quantity_line }}"
            min="1">
  </div>
  <div class="quantity-ui relative height-100">
    <button class="quantity-decrement quantity-button col col-4 bg-pink height-100 center relative" data-product="{{ product.id }}">
      <img class="sm-col-3 md-col-5 absolute-center" src="{{ 'icon-minus.svg' | asset_url }}" alt="decrease quantity button" />
    </button>
    <div class="quantity-input col col-4 center">
      <span id="quantity-target-{{ product.id }}"
            class="quantity-target inline-block mt2 mono bold"
            data-product="{{ product.id }}">{{ quantity }}</span>
    </div>
    <button class="quantity-increment quantity-button col col-4 bg-pink height-100 center relative" data-product="{{ product.id }}">
      <img class="col-5 absolute-center" src="{{ 'icon-plus.svg' | asset_url }}" alt="increase quantity button" />
    </button>
  </div>
</div>
