{% unless quantity %}
  {% assign quantity = 1 %}
{% endunless %}

<div class="product-quantity-ui quantity clearfix mt1">
  <div class="shopify-quantity hide">
    <label for="quantity">{{ 'products.product.quantity' | t }}</label>
    <input id="quantity-{{ product.id }}" class="quantity" data-product="{{ product.id }}" type="number" name="quantity" value="{{ quantity }}" min="1">
  </div>
  <div class="quantity-ui relative">
    <div class="quantity-decrement col col-4" data-product="{{ product.id }}">DOWN</div>
    <div class="quantity-input col col-4">
      <span class="bebas large">
        <span id="quantity-target-{{ product.id }}"
              class="quantity-target bebas"
              data-product="{{ product.id }}">{{ quantity }}</span>X
      </span>
    </div>
    <div class="quantity-increment col col-4" data-product="{{ product.id }}">UP</div>
  </div>
</div>
