{% for tag in product.tags %}
  {% assign key = tag | split: ':' | first %}
  {% assign val = tag | split: ':' | last %}

  {% if key == 'healthy-module' %}
    {% for block in section.blocks %}
      {% assign module = block %}
      {% break %}
    {% endfor %}
    {% break %}
  {% endif %}
{% endfor %}

{% if module %}
  <div class="product-healthy-module px3">
    <div class="content-wrapper clearfix relative border-left border-right border-top border-bottom std-max-width mx-auto z-relative">
      <div class="healthy-module col sm-col-12 lg-col-6">
        <div class="module-title center">
          <h2 class="bebas subtitle mt0 mb2">{{ module.settings.module_1_title }}</h2>
          <p class="copy">{{ module.settings.module_1_description }}</p>
        </div>
      </div>
      <div class="healthy-module col sm-col-12 lg-col-6">
        <div class="module-title center">
          <h2 class="bebas subtitle mt0 mb2">{{ module.settings.module_2_title }}</h2>
          <p class="copy">{{ module.settings.module_2_description }}</p>
        </div>
      </div>
      <div class="avery absolute">
        <img  class="col-12" 
              src="{{ 'avery.png' | asset_img_url: '300x' }}"
              alt="Avery Sticker Image" />
      </div>
    </div>
    <div class="healthy-image-wrapper flex std-max-width mx-auto ">
      <img  src="{{ module.settings.image | img_url: '1400x' }}"
            alt="{{ module.settings.image.alt }}"
            class="col-12" />
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "PDP Healthy Module",
    "blocks": [
      {
        "type": "pdp-healthy-module",
        "name": "PDP Healthy Module Block",
        "settings": [
          {
            "type": "text",
            "id": "slug",
            "label": "Slug",
            "placeholder": "healthy-kits"
          },
          {
            "type": "text",
            "id": "module_1_title",
            "label": "Module 1 Title",
            "placeholder": "Our Kits Are Dead Simple"
          },
          {
            "type": "text",
            "id": "module_1_description",
            "label": "Module 1 Description",
            "placeholder": "Lorem ispum dolor sinit"
          },
          {
            "type": "text",
            "id": "module_2_title",
            "label": "Module 2 Title",
            "placeholder": "And Very Healthy"
          },
          {
            "type": "text",
            "id": "module_2_description",
            "label": "Module 2 Description",
            "placeholder": "Lorem ispum dolor sinit"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "PDP Healthy Module",
        "category": "Product Page"
      }
    ]
  }
{% endschema %}
